* {
    box-sizing: border-box;
}
h1, h2, h3, p, a, ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.headingH1 {
    font-size: 60px;
}
.headingH2 {
    font-size: 45px;
    text-align: center;
}
body{
    overflow-x: hidden;
    font-size: 18px;
}
.promo {
    padding-top: 10px;
    position: relative;
}
.promo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.promo__logo {
    font-size: 40px;
    text-decoration: none;
    color: #000;
}
.promo__video {
	overflow: hidden;
}
video {
    height: 120vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
  }
.promo__content {
	position: relative;
	color: #fff;
	padding: 50px;
	font-size: 20px;
}
.promo__content-text {
    margin-left: 30px;
}
.text__list-item {
    font-size: 20px;
}
.text__list-item:not(:last-child) {
    margin-bottom: 10px;
}
.btn {
    font-size: 24px;
    background: purple;
    border: 1px solid purple;
    color: #fff;
    padding: 8px 50px;
    transition: .3s ease;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    background: #904A93;
}
.orderBtn {
    position: fixed;
    cursor: pointer;
    bottom: 90px;
}
.compaund {
    padding: 70px 0 70px;
    background: linear-gradient(to top left,pink, powderblue);
}
.compaund__wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 4vw);
    grid-gap: 17px;
}
.compaund__item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
.compaund__item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}
.compaund__item3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}
.compaund__item-main {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 9;
    background: url("./img/prod.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.compaund__item4 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}
.compaund__item5 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}
.compaund__item6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 10;
}
.compaund__item {
    padding: 15px;
    display: flex;
    align-items: center;
}
.compaund__item-img {
    width: 150px;
}
.compaund__item-text {
    margin-left: 20px;
}
.feedback__slide-contact {
    display: flex;
    align-items: center;
}
.slide__contact-photo {
    width: 100px;
}
.feedback {
    padding: 30px 0;
    background: linear-gradient(to top right,powderblue, pink);
}
#slider {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 100px;
    position: relative;
}
#viewport {
    width: 100%;
    display: table;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#sliderWrapper {
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.feedback__slider-slide {
    width: calc(100%/4);
    display: inline;
    float: left;
    border: 1px solid purple;
    padding: 20px;
}
#prev-btn {
    background: url("./img/compaund/arrow-prev.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#next-btn {
    background: url("./img/compaund/arrow-next.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}
#prev-btn {
    left: 10px;
}
#next-btn {
    right: 10px;
}
.slide__contact-name {
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
}
.feedback__slide-text {
    margin-top: 10px;
}
.doctor {
    padding: 70px 0;
    background: linear-gradient(to top left,pink, powderblue);
}
.doctor__wrapper {
    display: flex;
}
.doctor__heading {
    text-align: start;
}
.doctor__content-descr {
    max-width: 600px;
    width: 100%;
    margin-left: 20px;
}
.doctor__text {
    margin-top: 15px;
}
.doctor__char-list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.order {
    padding: 70px 0;
    background: linear-gradient(to top right, powderblue, pink);
}
.order__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.order__form {
    margin-right: 70px;
}
.order__form-itemWrapper {
    position: relative;
}
.order__form-itemWrapper:not(:last-child) {
    margin-bottom: 10px;
}
.order__form-label {
    font-size: 14px;
    margin-bottom: 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}
.order__form-input {
    padding: 20px;
    width: 100%;
}
.order__form-btn {
    padding: 8px 50px;
    cursor: pointer;
    font-size: 24px;
    background: purple;
    border: 1px solid purple;
    color: #fff;
}
.order__product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.product__price-old {
    margin-right: 20px;
    text-decoration: line-through;
}
.product__price-new {
    font-size: 30px;
    font-weight: 700;
    animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
    color: red;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}

@media (max-width: 950px) {
    body{
        font-size: 14px;
    }
    .compaund__item-img {
        width: 100px;
    }
}
@media (max-width: 800px) {
    .headingH1 {
        font-size: 40px;
    }
    .headingH2 {
        font-size: 25px;
    }
    .compaund__item-img {
        width: 60px;
    }
    .doctor__pic {
        max-width: 400px; 
    }
    .promo__content-pic img {
        max-width: 200px;
    }
}
@media (max-width: 650px) {
    body{
        font-size: 12px;
    }
    .compaund__item {
        padding: 5px;
    }
    .compaund__item-text {
        margin-left: 10px;
    }
    .headingH1 {
        font-size: 25px;
    }
    .headingH2 {
        font-size: 18px;
    }
    .text__list-item {
        font-size: 16px;
    }
    .promo__wrapper {
        flex-direction: column-reverse;
        padding: 15px 0;
        justify-content: space-between;
    }
    .promo__content-text {
        margin-bottom: 15px;
    }
    .compaund__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 25vw);
        grid-gap: 17px;
    }
    .compaund__item1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .compaund__item2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .compaund__item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .compaund__item-main {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 7;
        background: url("./img/prod.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .compaund__item4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .compaund__item5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .compaund__item6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    #slider {
        padding: 0;
    }
    .doctor__wrapper {
        flex-direction: column;
    }
    .doctor__content-descr {
        margin: 10px 0 0;
    }
    .doctor__pic {
        max-width: 250px;
    }
    .order__wrapper {
        flex-direction: column-reverse;
    }
    .order__product img {
        max-width: 150px;
    }
    .order__form {
        margin: 10px 0 0 0;
    }
    .order__form-input {
        padding: 10px 20px;
    }
    .order__form-btn {
        width: 100%;
    }
    .feedback {
        padding: 30px 0 70px;
    }
    #prev-btn, #next-btn {
        top: 105%;
    }
}